<%# Search Card %>
<div class="card mb-4">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h4 class="card-title mb-0">Filtros</h4>
  </div>
  <div class="card-body">
    <%= search_form_for @q, url: store_area_customers_path, data: { turbo_frame: "customers_metrics customers_list", turbo_action: "advance" } do |f| %>
      <div class="row g-3">
        <%# Customer fields %>
        <div class="col-md-3">
          <%= f.label :name_cont, "Nome do Cliente", class: "form-label" %>
          <%= f.search_field :name_cont, 
                         class: 'form-control' %>
        </div>
        <div class="col-md-3">
          <%= f.label :email_cont, "Email do Cliente", class: "form-label" %>
          <%= f.search_field :email_cont,
                         class: 'form-control' %>
        </div>
        <div class="col-md-3">
          <%= f.label :phone_number_cont, "Telefone", class: "form-label" %>
          <%= f.search_field :phone_number_cont,
                         class: 'form-control' %>
        </div>
        <div class="col-md-3">
          <%= f.label :is_active_eq, "Status", class: "form-label" %>
          <%= f.select :is_active_eq,
                    [['Status', ''], ['Ativo', true], ['Inativo', false]],
                    {},
                    class: 'form-select' %>
        </div>

        <%# Date range %>
        <div class="col-md-3">
          <%= f.label :first_cycle_date_gteq, "Data Inicial", class: "form-label" %>
          <%= f.date_field :first_cycle_date_gteq,
                       class: 'form-control' %>
        </div>
        <div class="col-md-3">
          <%= f.label :first_cycle_date_lteq, "Data Final", class: "form-label" %>
          <%= f.date_field :first_cycle_date_gteq,
                       class: 'form-control' %>
        </div>
      </div>

      <%# Submit and Clear buttons %>
      <div class="row mt-3">
        <div class="col-12 d-flex justify-content-end gap-2">
          <%= link_to 'Limpar', store_area_customers_path, class: 'btn btn-outline-secondary', data: { turbo_frame: "customers_metrics customers_list", turbo_action: "advance" } %>
          <%= f.submit 'Buscar', class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div> 