<!-- Sidebar responsiva com largura aumentada -->
<div class="sidebar-nav-wrapper">
  <div class="sidebar-nav-main">
    <ul class="sidebar-nav">
      <li class="nav-title">Navegação</li>
      <li class="nav-item">
        <%= link_to company_area_stores_path(company_id: @current_store.company_id), class: "nav-link border-start border-4 border-primary ps-3 bg-primary text-white" do %>
          <i class="nav-icon cil-arrow-left"></i> Área da Empresa
        <% end %>
      </li>
      
      <li class="nav-title">Gestão</li>
      <li class="nav-item">
        <%= link_to store_area_root_path(@current_store.id), class: "nav-link #{'active' if current_page?(admin_home_index_path)}" do %>
          <i class="nav-icon cil-speedometer"></i> Dashboard
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to store_area_customers_path(@current_store.id), class: "nav-link #{'active' if controller_name == 'customers'}" do %>
          <i class="nav-icon cil-people"></i> Clientes
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to store_area_cycles_path(@current_store.id), class: "nav-link #{'active' if controller_name == 'cycles'}" do %>
          <i class="nav-icon cil-clock"></i> Ciclos
        <% end %>
      </li>
      <li class="nav-group">
        <a class="nav-link nav-group-toggle #{'active' if controller_name == 'income_statements'}" 
           href="#" 
           role="button" 
           aria-expanded="false"
           data-bs-toggle="collapse">
          <i class="nav-icon cil-dollar"></i> Financeiro
        </a>
        <ul class="nav-group-items" aria-hidden="true">
          <li class="nav-item">
            <%= link_to store_area_financial_income_statements_path(@current_store.id), class: "nav-link #{'active' if controller_name == 'income_statements'}" do %>
              <i class="nav-icon cil-library"></i> DRE
            <% end %>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="sidebar-nav-bottom">
    <ul class="sidebar-nav">
      <li class="nav-title">Sistema</li>

      <li class="nav-item">
        <%= link_to company_area_settings_path, class: "nav-link #{'active' if controller_name == 'settings'}" do %>
          <i class="nav-icon cil-settings"></i> Configurações
        <% end %>
      </li>

      <li class="nav-item">
        <%= button_to destroy_user_session_path, method: :delete, class: "nav-link text-danger border-0 w-100 text-start bg-transparent" do %>
          <i class="nav-icon cil-account-logout"></i> Sair
        <% end %>
      </li>
    </ul>
  </div>
</div>