<%= form_with(scope: :company, url: url, method: method, local: true) do |f| %>
  <% if company.errors.any? %>
    <div class="alert alert-danger">
      <h6><%= pluralize(company.errors.count, "erro") %> impediu que esta empresa fosse salva:</h6>
      <ul class="mb-0">
        <% company.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row g-3">
    <div class="col-md-6">
      <div class="form-floating">
        <%= f.text_field :name, class: 'form-control border-0 bg-light', placeholder: ' ' %>
        <label class="text-muted small">Nome</label>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-floating">
        <%= f.text_field :document_number, class: 'form-control border-0 bg-light', placeholder: ' ', data: { mask: '00.000.000/0000-00' } %>
        <label class="text-muted small">CNPJ</label>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-floating">
        <%= f.select :status, Company.statuses.keys.map { |status| [status.titleize, status] }, 
            { include_blank: 'Selecione um status' }, 
            class: 'form-select border-0 bg-light' %>
        <label class="text-muted small">Status</label>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-floating">
        <%= f.text_field :city, class: 'form-control border-0 bg-light', placeholder: ' ' %>
        <label class="text-muted small">Cidade</label>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-floating">
        <%= f.select :state,
            [['Selecione um estado', ''], ['AC', 'AC'], ['AL', 'AL'], ['AP', 'AP'], ['AM', 'AM'], ['BA', 'BA'], ['CE', 'CE'], ['DF', 'DF'], ['ES', 'ES'], ['GO', 'GO'], ['MA', 'MA'], ['MT', 'MT'], ['MS', 'MS'], ['MG', 'MG'], ['PA', 'PA'], ['PB', 'PB'], ['PR', 'PR'], ['PE', 'PE'], ['PI', 'PI'], ['RJ', 'RJ'], ['RN', 'RN'], ['RS', 'RS'], ['RO', 'RO'], ['RR', 'RR'], ['SC', 'SC'], ['SP', 'SP'], ['SE', 'SE'], ['TO', 'TO']],
            {},
            class: 'form-select border-0 bg-light' %>
        <label class="text-muted small">Estado</label>
      </div>
    </div>
  </div>

  <div class="mt-4">
    <%= f.submit company.persisted? ? "Atualizar" : "Salvar", class: "btn btn-primary" %>
    <%= link_to "Cancelar", admin_companies_path, class: "btn btn-outline-secondary" %>
  </div>
<% end %>