<ul class="header-nav ms-auto me-3">
  <li class="nav-item">
    <a class="nav-link" href="#">
      <i class="cil-bell icon-lg"></i>
      <span class="badge position-absolute top-0 end-0 bg-danger-gradient rounded-pill">5</span>
    </a>
  </li>
</ul>

<ul class="header-nav">
  <li class="nav-item dropdown">
    <a class="nav-link py-0" data-coreui-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      <div class="avatar avatar-md">
        <img class="avatar-img" src="https://ui-avatars.com/api/?name=<%= current_user&.first_name || 'Admin User' %>&background=random" alt="user@email.com">
      </div>
    </a>
    <div class="dropdown-menu dropdown-menu-end pt-0">
      <div class="dropdown-header bg-light py-2">
        <div class="fw-semibold"><%= current_user&.first_name || 'Admin User' %></div>
      </div>
      <%= link_to "#", class: "dropdown-item" do %>
        <i class="cil-user me-2"></i> Perfil
      <% end %>
      <%= link_to "#", class: "dropdown-item" do %>
        <i class="cil-settings me-2"></i> Configurações
      <% end %>
      <div class="dropdown-divider"></div>
      <%= button_to destroy_user_session_path, method: :delete, class: "dropdown-item text-danger" do %>
        <i class="cil-account-logout me-2"></i> Sair
      <% end %>
    </div>
  </li>
</ul>
