<head>
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  <meta charset="UTF-8">

  <!-- CoreUI CSS -->
  <link rel="preload" href="<%= asset_path('coreui/coreui.min.css') %>" as="style" onload="this.rel='stylesheet'">
  <noscript><%= stylesheet_link_tag "coreui/coreui.min.css", "data-turbo-track": "reload" %></noscript>
  <!-- CoreUI Icons -->
  <link rel="preload" href="<%= asset_path('coreui-icons/all.min.css') %>" as="style" onload="this.rel='stylesheet'">
  <noscript><%= stylesheet_link_tag "coreui-icons/all.min.css", "data-turbo-track": "reload" %></noscript>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <link rel="manifest" href="/manifest.json">
  <link rel="icon" href="/icon.png" type="image/png">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/icon.png">
  <link rel="preload" href="<%= asset_path('application.css') %>" as="style" onload="this.rel='stylesheet'">
  <noscript><%= stylesheet_link_tag "application" %></noscript>
  <%= javascript_importmap_tags %>
</head>