<head>
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  <meta charset="UTF-8">

  <!-- CoreUI CSS -->
  <%= stylesheet_link_tag "coreui/coreui.min.css", "data-turbo-track": "reload" %>
  <!-- CoreUI Icons -->
  <%= stylesheet_link_tag "coreui-icons/all.min.css", "data-turbo-track": "reload" %>
  <!-- Custom Dashboard Styles -->
  <%= stylesheet_link_tag "dashboard", "data-turbo-track": "reload" %>

  <!-- CoreUI JS with defer -->
  <%= javascript_include_tag "coreui/coreui.bundle.min.js", "data-turbo-track": "reload", defer: true %>
  <!-- Custom Dashboard JS -->
  <%= javascript_include_tag "dashboard", "data-turbo-track": "reload", defer: true %>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <link rel="manifest" href="/manifest.json">
  <link rel="icon" href="/icon.png" type="image/png">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/icon.png">
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>